/*Estilos da página index.html*/

.center{
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;

}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display:inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color:brown;
    font-size: 20px;
}
#menu li a:hover {
    color:crimson;

}

    body {
        background-color: lightgray;
      }
      
      h1 {
        color: black;
        text-align: center;
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
      }

      .flex-container {
        display: flex;
        justify-content: center;
      }









      
/*Estilos da página caracteristicas.html*/


